<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Monitor health and document issues to ensure animal welfare and regulatory compliance'" [items]="['Veterinary']" [active_item]="'Compliance alerts'">
            </app-breadcrumb>
        </div>

        <mat-card class="mb-4">
            <mat-card-content>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="info-box7 bg-c-white order-info-box7">
                        <div class="info-box7-block">
                                <h6 class="tracking-text">Animals flagged for health concerns </h6>
                                <h2 class="text-end tracking-text"><i class="fas fa-chart-bar"></i> <span>10,000</span></h2>
                                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Total Animals</p>
                        </div>
                        </div>
                    </div> 

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="info-box7 bg-c-white order-info-box7">
                        <div class="info-box7-block">
                                <h6 class="tracking-text">Unregistered Animals </h6>
                                <h2 class="text-end tracking-text"><i class="fas fa-chart-bar"></i> <span>3,000 </span></h2>
                                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Total Animals</p>
                        </div>
                        </div>
                    </div> 

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="info-box7 bg-c-white order-info-box7">
                        <div class="info-box7-block">
                                <h6 class="tracking-text">Last System Update</h6>
                                <h2 class="text-end tracking-text"><i class="fas fa-chart-bar"></i> <span>2 hours</span></h2>
                                <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Total Animals</p>
                        </div>
                        </div>
                    </div> 
                </div>
            </mat-card-content>
        </mat-card>


   <div class="row" style="background: rgb(223, 215, 215); padding: 10px; height: 75px; border-radius: 10px;">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
                <mat-label>Filter Animals by Health Concern or Location</mat-label>
                <input matInput [(ngModel)]="selectedFilter" placeholder="Enter text">
              </mat-form-field>
              
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Search by Id or Name</mat-label>
              <input matInput type="email" placeholder="Enter email" />
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <button mat-raised-button color="primary" style="border-radius: 5; width: 130px; height: 50px;" 
                    
                     matTooltip="Add Veterinary Resources"(click)="openVetResourcesDialog()" >
              <span style="font-size: 12px; text-align: center;">Veterinary resources</span>

              <!-- (click)="openVetResourcesDialog()" -->
            </button>
          </div>
          
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="table-section" style="margin-top: 16px; padding: 16px; background-color: #f9f9f9;">
                          <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" class="mat-cell" style="width: 100%; border-collapse: collapse;">
                        
                              <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Id</th>
                                <td mat-cell *matCellDef="let element; let i = index" style="padding: 8px;">{{ i + 1 }}</td>
                              </ng-container>
                        
                              <ng-container matColumnDef="species">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Species</th>
                                <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.species }}</td>
                              </ng-container>
                        
                              <ng-container matColumnDef="location">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Location</th>
                                <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.location }}</td>
                              </ng-container>

                              <ng-container matColumnDef="healthConcern">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Health Concern</th>
                                <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.healthConcern }}</td>
                              </ng-container>
                        
                              <ng-container matColumnDef="lastCheckup">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Last Checkup</th>
                                <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.lastCheckup }}</td>
                              </ng-container>
                        
                              <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Actions</th>
                                <td mat-cell *matCellDef="let element" style="padding: 8px;" class="action-link">
                                 <button mat-icon-button color="primary" matTooltip="View User"><mat-icon>visibility</mat-icon></button>
                                 <button mat-icon-button color="primary" matTooltip="Verify User"><mat-icon>check_circle</mat-icon></button>
                                 <button mat-icon-button color="primary" matTooltip="Edit User"><mat-icon>edit</mat-icon></button>
              
                                </td>
                              </ng-container>
                        
                              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                        
                            <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
                          </div>
                        </div>
                      </div>
                </mat-card-content>
            </mat-card>
          </div>

        </div>
        </section>
