<div class="login-container authBackground">
  <div class="row login-main">
    <div class="col form-box">
      <div class="form-section">
        <div class="login-wrapper">

          <div class="text-center">
            <img src="assets/images/ANITRAC.png" width="260px" height="200px" class="px-2 mx-2" alt="" />
          </div>

          <h2 class="mb-4"> Anitrac Platform Login</h2>

          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="emailOrNationalId" />
                <mat-icon matPrefix>account_box</mat-icon>
                <mat-error *ngIf="authForm.get('email')?.hasError('required')">
                  emailOrNationalId is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">{{hide ? 'visibility_off' :
                  'visibility'}}</mat-icon>
                <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>

            <div *ngIf="error" class="alert alert-danger col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">{{error}}</div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <button class="btn" mat-raised-button [class.auth-spinner]="loading" [disabled]="loading"
                [disabled]="!authForm.valid" type="submit">Login</button>
            </div>

            <div class="row">

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 text">
                <span>
                  <a routerLink="/authentication/forgot-password">Forgot password</a>
                </span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2 text">
                <span>
                  <a routerLink="/authentication/signup">Create account</a>
                </span>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>