<!-- <section>
    <div class="heading-text">
        <h5>Roles</h5>
        <div class="row">
            <div class="col-sm-8">
                <h4>Add Roles to assign to system users</h4>
            </div>
            <div class="col-sm-">
                <button mat-raised-button color="primary">
                    <mat-icon>add_circle</mat-icon> System Roles
                </button>
            </div>
        </div>
    </div>
</section> -->


<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'System Roles'" [items]="['Manage']" [active_item]="'Roles'">
            </app-breadcrumb>
        </div>

        <div class="heading-text">
            <h5 class="mx-5">Roles</h5>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Add Roles to assign to system users</h4>
                </div>
                <div class="col-sm-4">
                    <button mat-raised-button color="primary" (click)="openAddUserDialog()">
                        <mat-icon>add_circle</mat-icon> System Roles
                    </button>
                </div>
            </div>
        </div>
        <mat-card>
            <h2 class="text-center">System Users</h2>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2">
                    <h6>System Admin</h6>
                </div>
                <div class="col-sm-2">
                    <h6>Vetirinary Board</h6>
                </div>
                <div class="col-sm-2">
                    <h6>Governemt Office</h6>
                </div>
                <div class="col-sm-2">
                    <h6>Institutional Admin</h6>
                </div>
            </div>                     
            

            <div class="row">
                <div class="col-sm-4">
                    Dashboard
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    Geographic Tracking
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    Population & Health
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    User Management
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="warn">cancel</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="primary">check_circle</mat-icon>
                </div>
                <div class="col-sm-2">
                    <mat-icon color="warn">cancel</mat-icon>
                </div>
            </div>
        </mat-card>
    </div>
</section>