<!-- Widgets -->
<div class="row" style="background-color: rgb(245, 239, 239)">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
    <div
      class="info-box7"
      style="
        background-color: #ffffff;
        border-radius: 8px;
        padding: 15px;
        color: #000000;
      "
    >
      <div>
        <p style="margin: 0; font-size: 17px; font-weight: 500; color: #000000">
          Total Animals
        </p>
        <h2
          style="
            margin: 0;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <span>{{ totalAnimals }}</span>
          <i
            class="fas fa-plus-square"
            style="color: #ff0000; font-size: 30px"
          ></i>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
    <div
      class="info-box7"
      style="
        background-color: #ffffff;
        border-radius: 8px;
        padding: 15px;
        color: #000000;
      "
    >
      <div>
        <p style="margin: 0; font-size: 17px; font-weight: 500; color: #000000">
          Today's Sales
        </p>
        <h2
          style="
            margin: 0;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <span>{{ todaySales }}</span>
          <i
            class="fas fa-credit-card"
            style="color: #ff0000; font-size: 30px"
          ></i>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
    <div
      class="info-box7"
      style="
        background-color: #ffffff;
        border-radius: 8px;
        padding: 15px;
        color: #000000;
      "
    >
      <div>
        <p style="margin: 0; font-size: 17px; font-weight: 500; color: #000000">
          Suspicious Activities
        </p>
        <h2
          style="
            margin: 0;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <!-- <span>{{ driversCount }}</span> -->
          <span>0</span>
          <i
            class="fas fa-exclamation-triangle"
            style="color: #ff0000; font-size: 30px"
          ></i>
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
    <div
      class="info-box7"
      style="
        background-color: #ffffff;
        border-radius: 8px;
        padding: 15px;
        color: #000000;
      "
    >
      <div>
        <p style="margin: 0; font-size: 17px; font-weight: 500; color: #000000">
          Annual Mapping Target
        </p>
        <h2
          style="
            margin: 0;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <!-- <span>{{ farmersCount }}</span> -->
          <span>1%</span>
          <!-- <mat-progress-bar
            mode="indeterminate"
            color="warn"
            style="width: 100px; height: 8px;">
          </mat-progress-bar> -->
          <mat-progress-bar
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue"
          >
          </mat-progress-bar>
        </h2>
      </div>
    </div>
  </div>
</div>
