<!-- Widgets -->
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-white order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ agrodelearsCount }}</span><i class="fas fa-briefcase"></i>
        </h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Total Animals</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ customersCount }}</span><i class="fas fa-bag-shopping"></i>
        </h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Today's Sales</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ driversCount }}</span><i class="fas fa-truck"></i>
        </h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Suspicious Activities</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ farmersCount }}</span><i class="fas fa-user"></i>
        </h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Annual Mapping Target</p>
      </div>
    </div>
  </div>

  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ manufacturersCount }}</span><i class="fas fa-industry"></i>
        </h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Manufacturers</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ processorsCount }}</span><i class="fas fa-city"></i></h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Processors</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ providersCount }}</span><i class="fas fa-server"></i></h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Service Providers</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h2 class="text-end"><span class="float-start">{{ warehoseCount }}</span><i class="fas fa-warehouse"></i></h2>
        <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Warehouses</p>
      </div>
    </div>
  </div> -->
</div>