<section class="content">
  <div class="content-block">
      <div class="block-header">
          <div class="col-sm-12">
              <h1 class="text-center">Agrodealers onboarding</h1>
              <div class="tab d-flex" style="width: 100%;">
                  <button class="tablinks h5" routerLink="/onboarding/agrodealers/personal-information">Biographical Data</button>
                  <button class="tablinks h5" routerLink="/onboarding/agrodealers/academic-background">Academic Credentials </button>
                  <button class="tablinks h5" routerLink="/onboarding/agrodealers/business-information">Business Information</button>
                  <button class="tablinks h5" routerLink="/onboarding/agrodealers/bank-details">Bank Details</button>
                  <!--<button class="tablinks h5" routerLink="/enrollments/farmer/bovine-biosphere">Bovine Biosphere</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/agrigrowth-spectrum">Agrigrowth spectrum</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/aggregator-haven">Aggregator Haven</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/finances">Finances</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/insight-vault">Insight vault</button>-->
              </div>
          </div>

          <legend><h3> Section B: Academic Credentials</h3></legend>
                      <label>12. Have you attended any form of schooling </label>
                      <form>
                          <label>
                              <input type="radio" name="attendedSchool" value="yes">
                              Yes
                          </label>
                          <br>
                          <label>
                              <input type="radio" name="attendedSchool" value="no">
                              No
                          </label>
                      </form>
                  </div>

                  <div class="form-group">
                      <label>13. Which level of education did you reach?(Tick highest Level of Education)   :</label>
                  <form>
                      
                      <label>
                          <input type="radio" name="education" value="Primary School - Incomplete">
                          Primary School - Incomplete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="Primary School - Complete">
                          Primary School - Complete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="Secondary School - Incomplete">
                          Secondary School - Incomplete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="Secondary School - Complete">
                          Secondary School - Complete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="University - Incomplete">
                          University - Incomplete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="University - Complete">
                          University - Complete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="Technical College - Incomplete">
                          Technical College - Incomplete
                      </label>
                      <br>
                      <label>
                          <input type="radio" name="education" value="Technical College - Complete">
                          Technical College - Complete
                      </label>
                  </form>
                </div>
                <button type="next" class="btn btn-primary"  (click)="navigateToNext()">next</button>
               
          </div>
  </section>