<section class="content">
  <div class="content-block">
      <div class="block-header">
          <div class="col-sm-12">
              <h1 class="text-center">Warehouse onboarding</h1>
              <div class="tab d-flex" style="width: 100%;">
                  <button class="tablinks h5" routerLink="/onboarding/warehouse/personal-information">Biographical Data</button>
                  <button class="tablinks h5" routerLink="/onboarding/warehouse/academic-background">Academic Credentials </button>
                  <button class="tablinks h5" routerLink="/onboarding/warehouse/business-information">Business-Information</button>
                  <button class="tablinks h5" routerLink="/onboarding/warehouse/bank-details">Bank-Details</button>
                  <!--<button class="tablinks h5" routerLink="/enrollments/farmer/bovine-biosphere">Bovine Biosphere</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/agrigrowth-spectrum">Agrigrowth spectrum</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/aggregator-haven">Aggregator Haven</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/finances">Finances</button>
                  <button class="tablinks h5" routerLink="/enrollments/farmer/insight-vault">Insight vault</button>-->
              </div>
          </div>
          <div class="form-group">
            <legend><h3> Section D:  Bank Details </h3></legend>
              <label>1. Bank Name</label>
              <body>
                <select name="banks">
                    <option value="" disabled selected>Select Bank</option>
                    <option value="Equity Bank Kenya">Equity Bank Kenya</option>
                    <option value="KCB Bank Kenya">KCB Bank Kenya (KCB Group)</option>
                    <option value="Cooperative Bank of Kenya">Cooperative Bank of Kenya</option>
                    <option value="Standard Chartered Bank Kenya">Standard Chartered Bank Kenya</option>
                    <option value="Barclays Bank Kenya">Barclays Bank Kenya (Absa Group Limited)</option>
                    <option value="Commercial Bank of Africa">Commercial Bank of Africa (CBA, now part of NCBA Bank)</option>
                    <option value="National Bank of Kenya">National Bank of Kenya (NBK, now part of KCB Group)</option>
                    <option value="Stanbic Bank Kenya">Stanbic Bank Kenya (Stanbic Holdings Limited)</option>
                    <option value="Diamond Trust Bank Kenya">Diamond Trust Bank Kenya (DTB)</option>
                    <option value="Bank of Africa Kenya">Bank of Africa Kenya (BOA, part of BMCE Bank of Africa Group)</option>
                    <option value="NIC Bank">NIC Bank (now part of NCBA Bank)</option>
                    <option value="I&M Bank Kenya">I&M Bank Kenya</option>
                    <option value="Housing Finance Company of Kenya">Housing Finance Company of Kenya (HF Group)</option>
                    <option value="Chase Bank Kenya">Chase Bank Kenya (in receivership, under KDIC)</option>
                    <option value="Family Bank Kenya">Family Bank Kenya</option>
                    <option value="Citibank Kenya">Citibank Kenya (Citigroup)</option>
                    <option value="Gulf African Bank">Gulf African Bank (Islamic banking)</option>
                    <option value="Bank of Baroda Kenya">Bank of Baroda Kenya</option>
                    <option value="Victoria Commercial Bank">Victoria Commercial Bank</option>
                    <option value="African Banking Corporation">African Banking Corporation (ABC Bank)</option>
                  </select>
                  
              </body>
          </div>
          <div class="form-group">
            <label>2. County </label>
            <body>
                <select id="countyDropdown">
                    <option value="" disabled selected></option>
                    <option value="Mombasa">Mombasa County</option>
                    <option value="Kwale">Kwale County</option>
                    <option value="Kilifi">Kilifi County</option>
                    <option value="Tana River">Tana River County</option>
                    <option value="Lamu">Lamu County</option>
                    <option value="Taita-Taveta">Taita-Taveta County</option>
                    <option value="Garissa">Garissa County</option>
                    <option value="Wajir">Wajir County</option>
                    <option value="Marsabit">Marsabit County</option>
                    <option value="Isiolo">Isiolo County</option>
                    <option value="Meru">Meru County</option>
                    <option value="Tharaka-Nithi">Tharaka-Nithi County</option>
                    <option value="Embu">Embu County</option>
                    <option value="Kitui">Kitui County</option>
                    <option value="Machakos">Machakos County</option>
                    <option value="Makueni">Makueni County</option>
                    <option value="Nyandarua">Nyandarua County</option>
                    <option value="Nyeri">Nyeri County</option>
                    <option value="Kirinyaga">Kirinyaga County</option>
                    <option value="Murang'a">Murang'a County</option>
                    <option value="Kiambu">Kiambu County</option>
                    <option value="Turkana">Turkana County</option>
                    <option value="West Pokot">West Pokot County</option>
                    <option value="Samburu">Samburu County</option>
                    <option value="Trans-Nzoia">Trans-Nzoia County</option>
                    <option value="Uasin Gishu">Uasin Gishu County</option>
                    <option value="Elgeyo-Marakwet">Elgeyo-Marakwet County</option>
                    <option value="Nandi">Nandi County</option>
                    <option value="Baringo">Baringo County</option>
                    <option value="Laikipia">Laikipia County</option>
                    <option value="Nakuru">Nakuru County</option>
                    <option value="Narok">Narok County</option>
                    <option value="Kajiado">Kajiado County</option>
                    <option value="Bomet">Bomet County</option>
                    <option value="Kakamega">Kakamega County</option>
                    <option value="Vihiga">Vihiga County</option>
                    <option value="Bungoma">Bungoma County</option>
                    <option value="Busia">Busia County</option>
                    <option value="Siaya">Siaya County</option>
                    <option value="Kisumu">Kisumu County</option>
                    <option value="Homa Bay">Homa Bay County</option>
                    <option value="Migori">Migori County</option>
                    <option value="Kisii">Kisii County</option>
                    <option value="Nyamira">Nyamira County</option>
                    <option value="Nairobi">Nairobi County</option>
                </select>
            </body>                              
        </div>
          <div class="form-group">
              <label>3. Branch Name</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>4. Bank Account Number</label>
              <input type="number" class="form-control">
          </div>
          <div class="form-group">
              <label>5. Bank Account Name</label>
              <input type="text" class="form-control">
          </div>
          
          
          