<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <h1 class="text-center">Transporters Onboarding</h1>
                <div class="tab d-flex" style="width: 100%;">
                    <button class="tablinks h5" routerLink="/onboarding/transporters/personal-information">Biographical Data</button>
                    <button class="tablinks h5" routerLink="/onboarding/transporters/vehicle-details">Vehicle Details</button>
                    <button class="tablinks h5" routerLink="/onboarding/transporters/location-details">Location Details</button>
                    <button class="tablinks h5" routerLink="/onboarding/transporters/bank-details">Bank-Details</button>
