<section class="content">
    <div class="content-block">
        <div class="block-header">
            <div class="col-sm-12">
                <h1 class="text-center">Organisation onboarding</h1>
                <div class="tab d-flex" style="width: 100%;">
                    <button class="tablinks h5" routerLink="/onboarding/organisation/personal-information">Biographical Data</button>
                    <button class="tablinks h5" routerLink="/onboarding/organisation/academic-background">Academic Credentials </button>
                    <button class="tablinks h5" routerLink="/onboarding/organisation/business-information">business-information</button>
                    <button class="tablinks h5" routerLink="/onboarding/organisation/bank-details">bank-details</button>
                    <!--<button class="tablinks h5" routerLink="/enrollments/farmer/bovine-biosphere">Bovine Biosphere</button>
                    <button class="tablinks h5" routerLink="/enrollments/farmer/agrigrowth-spectrum">Agrigrowth spectrum</button>
                    <button class="tablinks h5" routerLink="/enrollments/farmer/aggregator-haven">Aggregator Haven</button>
                    <button class="tablinks h5" routerLink="/enrollments/farmer/finances">Finances</button>
                    <button class="tablinks h5" routerLink="/enrollments/farmer/insight-vault">Insight vault</button>-->
                </div>
            </div>
        </div>
    </div>
  </section>
