<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"> -->
    <h5>Transactions </h5>
    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis"
        [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip" [dataLabels]="chartOptions2.dataLabels"
        [legend]="chartOptions2.legend" [markers]="chartOptions2.markers" [grid]="chartOptions2.grid"
        [yaxis]="chartOptions2.yaxis" [title]="chartOptions2.title"></apx-chart>
</div>

<table>

    
</table>