
<section class="content">
    <div class="content-block" class="row">
      <div class="block-header">
        <app-breadcrumb [title]="'Veterinarians'" [items]="['Home']" [active_item]="'Users'"></app-breadcrumb>
      </div>
  
      <div class="row">
        <div class=" col-md-8 ">
          <div class="row" style="background: rgb(223, 215, 215); padding: 10px; height: 75px; border-radius: 10px;">
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Filter Veterinarians by Status</mat-label>
                <mat-select [(value)]="selectedFilter">
                  <mat-option *ngFor="let option of filterOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline">
                <mat-label>Search by Email</mat-label>
                <input matInput type="email" placeholder="Enter email" />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <button mat-raised-button color="primary" style="border-radius: 55%; height: 50px;" (click)="openAddUserDialog()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="table-section" style="margin-top: 16px; padding: 16px; background-color: #f9f9f9;">
              <div class="responsive_table">
                <table mat-table [dataSource]="dataSource" class="mat-cell" style="width: 100%; border-collapse: collapse;">
            
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Id</th>
                    <td mat-cell *matCellDef="let element; let i = index" style="padding: 8px;">{{ i + 1 }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Name</th>
                    <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.user.firstName }} {{ element.user.lastName }}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Phone Number</th>
                    <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.user.phoneNo }}</td>
                  </ng-container>
  
            
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Email</th>
                    <td mat-cell *matCellDef="let element" style="padding: 8px;">{{ element.user.email }}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef style="padding: 8px;">Actions</th>
                    <td mat-cell *matCellDef="let element" style="padding: 8px;" class="action-link">
                     <button mat-icon-button color="primary" matTooltip="View User"><mat-icon>visibility</mat-icon></button>
                     <button mat-icon-button color="primary" matTooltip="Verify User"><mat-icon>check_circle</mat-icon></button>
                     <button mat-icon-button color="primary" matTooltip="Edit User"><mat-icon>edit</mat-icon></button>
  
                    </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <mat-card>
            <div>
              <h3>Total Veterinarians</h3> <mat-icon>group</mat-icon>
              <p style="font-size: 18px; font-weight: bold; color: #000;"> {{ totalUsers }} Veterinarians</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </section>