<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>ONBOARDING PER SPECIES</h2>
      </div>
      <div class="body">
        <apx-chart
          [series]="radialChartOptions.radialseries"
          [chart]="radialChartOptions.chart"
          [plotOptions]="radialChartOptions.plotOptions"
          [labels]="radialChartOptions.labels"
          [colors]="radialChartOptions.colors"
          [responsive]="radialChartOptions.responsive">
        </apx-chart>
        <div class="text-center p-t-20">
          <div class="chart-note">
            <span class="dot bg-orange"></span>
            <span>Cattle</span>
          </div>
          <div class="chart-note msr-0">
            <span class="dot bg-indigo"></span>
            <span>Donkey</span>
          </div>
          <div class="chart-note msr-0">
            <span class="dot bg-blue"></span>
            <span>Sheep</span>
          </div>
          <div class="chart-note msr-0">
            <span class="dot bg-info"></span>
            <span>Goat</span>
          </div>
        </div>
        <div class="text-center p-t-20">
          <button mat-stroked-button color="primary">More Details</button>
        </div>
      </div>
    </div>
  </div>
  