<div class="addContainer">
  <div *ngIf="member" class="contact-details">
    <div class="modalHeader">
      <div class="contact-details-name mb-1">Farmer Details</div>
      <button mat-icon-button (click)="closeDialog()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div class="row mt-1" style="width: 98%">
          <div class="col-5 m-b-10">Farmer ID:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.id }}</div>
          <div class="col-5 m-b-10">Firstname:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.firstName }}</div>
          <div class="col-5 m-b-10">Lastname:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.lastName }}</div>
          <div class="col-5 m-b-10">Phone Number:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.phoneNo }}</div>
          <div class="col-5 m-b-10">Email:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.email }}</div>
          <div class="col-5 m-b-10">Code:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.farmerCode }}</div>
          <div class="col-5 m-b-10">ID Number:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.idNumber }}</div>
          <div class="col-5 m-b-10">Location:</div>
          <div class="col-7 pro-left m-b-10">
            {{ member.user.location.latitude }},
            {{ member.user.location.longitude }}
          </div>

          <div class="col-5 m-b-10">Role:</div>
          <div class="col-7 pro-left m-b-10">{{ member.user.role }}</div>
          <div class="col-5 m-b-10">Creation:</div>
          <div class="col-7 pro-left m-b-10">
            {{ member.user.createdAt | date : "yyyy-MM-dd" }}
          </div>
          <div class="col-5 m-b-10">Status:</div>
          <div class="col-7 pro-left m-b-10">
            {{ member.user.active ? "Active" : "Inactive" }}
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
