@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';


.bg {
    // background: linear-gradient(to left, #9B2827, #fafafa);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(155,40,39,1) 50%);
  }
  
  .bg1 {
    background: linear-gradient(to right, #9B2827, #fafafa);
  }
  
  .down {
    background: linear-gradient(to bottom, #c5f7c6, #fafafa);
  }
  
  .fg {
    color: #9B2827;
    font-weight: bolder;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .wbg {
    color: #fafafa;
    font-weight: bolder;
  }